* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 230px auto;
  gap: 20px;
}

aside {
  padding: 20px;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      ul {
        padding-left: 20px;
      }
    }
  }

  > ul > li {
    margin-bottom: 10px;
  }

  a {
    display: block;
    padding: 10px 15px;

    color: black;
    text-decoration: none;
    font-size: 14px;

    i {
      font-size: 12px;
      margin-right: 10px;
    }
  }
}

main {
  height: 100%;
  background-color: #ededf9;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
}
